DATABASE_URL=
SECRET_KEY=secret-key
REDIS_HOST= redis
REDIS_PORT = 6379
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=documents
LLM_API=
LLM_MODEL=llama-3.3-70b-versatile
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:8000/api/v1
SMTP_USERNAME=
SMTP_PASSWORD=
SMALL_LLM=llama-3.1-8b-instant