langchain
langgraph
fastembed
python-dotenv
pydantic
fastapi
uvicorn
redis
alembic
PyJWT
bcrypt
sqlalchemy
psycopg2
pytest
pydantic-settings
python-multipart
asyncio-redis
langchain-community
pymupdf
llama-index-vector-stores-qdrant
langchain-text-splitters
llama-index-embeddings-fastembed
langchain_community
langchain-groq
psycopg